SLACK_BOT_TOKEN=
SLACK_SIGNING_SECRET=
SLACK_OAUTH_ACCESS_TOKEN=
GOOGLE_SEARCH_CSE_ID=
GOOGLE_SEARCH_API_KEY=
# when example.slack.com => example
SALCK_TEAM_DOMAIN=

SLACK_NEW_CHANNEL=
SLACK_NEW_EMOJI=
SLACK_TEAM_JOINED=

REDIS_URL=redis://127.0.0.1:6379
